html{
	margin: 0;
	padding: 0;
}
body {
    background: #368aae;
	font-family: "Lucida Console", Monaco, monospace;
	min-width: 700px;
	color: #172635;
	padding: 0;
}

.stickyHeader{
    background: #368aae;
    float: left;
    width: 100%;
	padding: 0;
	position: fixed;
	top: 0;
}
.stickyHeader img{
    height: 150px;
	width: 125px;
	float: left;
}
.stickyHeader img{
    height: 150px;
	width: 125px;
	float: left;	
}
.navHeader{
	padding: 0;	
}
.navHeader ul{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.navHeader a{
	line-height: 6.5;
	text-decoration: none;
	text-align: center;
	float: left;
	margin-left: 1.5%;
	width: 23.3%;
	height: auto;
	min-height: 30px;
	font-size: 2.5vh;
}
.navHeader a:hover{
	background: #A8C8DF;
}
#content{
	opacity: 0.5;
	height: 1000px;
	width: 100%;
	background: white;
}
#logo{
    height: 150px;
	width: 125px;
	float: left;	
}