*{
	margin: 0;
	padding: 0;
}
body {
	font-family: "Lucida Console", Monaco, monospace;
	padding: 0;
	background-image: url('../img/bg.jpg');
}
a{
	text-decoration: none; 
}
.stickyHeader{
    width: 100%;
	padding: 0;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
}
.stickyHeader h3{
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 55px #FFFFFF, 0 0 75px #FFFFFF;
}
.navHeader{
	padding: 0;	
}
.navHeader ul{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.navHeader a{
	margin-left: 40px;
	margin-top: 35.3px;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 10.3%;
	height: 20px;
	font-size: 2.5vh;
}
.stickyHeader img{
    height: 100px;
	width: 100px;
	float: left;
	margin-left: 0;
}
#advert{
	height: 300px;
	width: 100%;
	background: white;
}
#pathSelect{	
	height: 600px;
	width: 100%;
	margin: 0;	
}
#logo{
	margin-top: 0;
    height: 100px;
	width: 100px;
	float: left;	
}
#info{
    height: 300px;
	width: auto;
	background: #368aae;
}
footer{
	height: 50px;
	width: auto;
	background: white;
}
.selectLoseDiv{
	line-height: 225px;
	height: 225px;
	width: 100%;
	margin: 0;
	margin-top: 150px;
	margin-bottom: 10px;
	text-align: center;
}
.selectLose :hover{
	transition: 1s;
	background: rgba(0, 0, 0, 0.4);	
}
.selectLose h1{
	color: #FFFFFF;	
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}
.selectGainDiv{
	line-height: 225px;
	height: 225px;
	width: 100%;
	margin: 0;
}
.selectGain :hover{
	transition: 1s;	
	background: rgba(0, 0, 0, 0.4);	
}
.selectGain h1{
	text-align: center;
	color: #FFFFFF;	
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFFFFF 0px 0px 20px, #FFFFFF 0px 0px 30px, #FFFFFF 0px 0px 40px, #FFFFFF 0px 0px 50px, #FFFFFF 0px 0px 75px;
}